Weekly _PM_Intelligence.json
{
  "name": "Weekly Project Management Intelligence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": null
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1910b441-81b1-432d-a8e8-e8640727df43",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=Project+Management",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "b7f7d62d-e2c5-4755-86f7-5718927b9ad3",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "// Keep top 10 articles\nconst articles = items.slice(0, 10);\n\nlet newsletterInput = '';\n\narticles.forEach((item, index) => {\n  newsletterInput += `\nArticle ${index + 1}\n\nTitle:\n${item.json.title}\n\nSummary:\n${item.json.contentSnippet}\n\n--------------------------------------------------\n\n`;\n});\n\nreturn [\n  {\n    json: {\n      newsletterInput\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "0f35cbc2-1434-46ca-b90b-294f1ac4752b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an experienced Technical Delivery Manager, Agile Coach and Project Management Consultant.\n\nBelow are the latest Project Management articles collected this week.\n\n{{$json.newsletterInput}}\n\nYour task is to create a professional EMAIL NEWSLETTER.\n\nIMPORTANT:\n\nReturn ONLY valid HTML.\n\nDo NOT return Markdown.\n\nDo NOT wrap the HTML inside ```html```.\n\nUse only HTML.\n\nDesign Requirements:\n\n- White background\n- Professional corporate look\n- Gmail compatible\n- Use inline CSS only\n- Responsive layout\n- Make it visually attractive\n\nUse the following HTML structure.\n\n====================================================\n\n<h1>📬 Weekly Project Management Intelligence</h1>\n\n<p>Write a short executive summary.</p>\n\n<hr>\n\n<h2 style=\"color:#1F4E79;\">🔥 Top 10 Trends</h2>\n\n<ul>\n<li>Trend 1</li>\n...\n</ul>\n\n<hr>\n\n<h2 style=\"color:#1F4E79;\">📰 Industry News</h2>\n\nCreate a table with columns:\n\nTopic | Summary | Why it matters\n\n<hr>\n\n<h2 style=\"color:#1F4E79;\">🚀 Agile & Scrum Best Practices</h2>\n\nProvide 5 actionable recommendations.\n\n<hr>\n\n<h2 style=\"color:#1F4E79;\">🤖 AI in Project Management</h2>\n\nSummarize AI-related news.\n\n<hr>\n\n<h2 style=\"color:#1F4E79;\">⚠ Risks & Challenges</h2>\n\nProvide major risks project managers should know.\n\n<hr>\n\n<h2 style=\"color:#1F4E79;\">📚 Learning Resources</h2>\n\nRecommend\n\n• Blogs\n\n• Books\n\n• Courses\n\n• Videos\n\n<hr>\n\n<h2 style=\"color:#1F4E79;\">💼 Interview Corner</h2>\n\nGenerate 5 Project Manager interview questions with concise answers.\n\n<hr>\n\n<h2 style=\"color:#1F4E79;\">✍ LinkedIn Post</h2>\n\nGenerate a professional LinkedIn article (400–600 words).\n\n<hr>\n\n<h2 style=\"color:#1F4E79;\">🔗 References</h2>\n\nCreate clickable hyperlinks to the original articles.\n\nExample:\n\n<a href=\"ARTICLE_URL\">Article Title</a>\n\n<hr>\n\n<footer>\n\nGenerated automatically using AI\n\n</footer>\n\nReturn ONLY HTML.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        0
      ],
      "id": "e71f76f6-3ab6-489d-903c-08747c1628e1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        208
      ],
      "id": "e7b152b8-0bf6-4db5-821f-8fe564e6d582",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cNrfSSKkPZ8xFSgs",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gpu1444@gmail.com",
        "subject": "={{ \"📬 Weekly Project Management Intelligence | \" + new Date().toLocaleDateString('en-IN', { day: '2-digit', month: 'short', year: 'numeric' }) }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        0
      ],
      "id": "419ebe3e-e070-43ef-89c4-03044d016c54",
      "name": "Send a message",
      "webhookId": "7393befd-c85e-4a9e-900a-30fe2e7b4f95",
      "credentials": {
        "gmailOAuth2": {
          "id": "GNFVg4AfLadF0ZiD",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f8f47c3a-baf0-40c8-b076-1781a2648a05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6887e76feb1cafa4f2f0bcfd124237700b292159fe802ab3d81aff4b9228d06b"
  },
  "nodeGroups": [],
  "id": "qRDJLKT4MnextDti",
  "tags": []
}